name: "JiKong Rs485 PB2A16S30P BMS"
version: "1.0.1"
slug: "jikong_rs485_pb2a16s30p_bms"
description: "透過 Modbus gateway 或 RS485 讀取 jikong pb2a16s30p BMS 資料並發佈到 MQTT，供 Home Assistant 使用。"
url: "https://github.com/loveflee/jikong-rs485-pb2a16s30p-bms-addon"
documentation: "https://github.com/loveflee/jikong-rs485-pb2a16s30p-bms-addon"
arch:
  - amd64
  - armv7
  - aarch64
startup: services
boot: auto

# Add-on options（會出現在 HA UI）
options:
  # 模式切換
  use_modbus_gateway: true     # true: 用 TCP Modbus Gateway
  use_rs485_usb: false         # true: 用 RS485 to USB (/dev/ttyUSB0...)
  debug_raw_log: false         # true: 在 main.py 裡印 raw hexdump

  # Modbus gateway (TCP) 設定
  modbus_host: "modbus gateway ip"
  modbus_port: 502
  modbus_timeout: 10
  modbus_buffer_size: 4096

  # MQTT 設定
  mqtt_host: "core-mosquitto" # homeassistant ip
  mqtt_port: 1883
  mqtt_username: "mqtt user"
  mqtt_password: "mqtt password"
  mqtt_discovery_prefix: "homeassistant"
  mqtt_topic_prefix: "Jikong_BMS"
  mqtt_client_id: "jk_bms_monitor"

  # APP 行為設定
  packet_expire_time: 0.4
  settings_publish_interval: 60

schema:
  use_modbus_gateway: bool
  use_rs485_usb: bool
  debug_raw_log: bool
  
  modbus_host: str
  modbus_port: int
  modbus_timeout: int
  modbus_buffer_size: int

  mqtt_host: str
  mqtt_port: int
  mqtt_username: str
  mqtt_password: str
  mqtt_discovery_prefix: str
  mqtt_topic_prefix: str
  mqtt_client_id: str

  packet_expire_time: float
  settings_publish_interval: int

# 若需要讓容器使用 host network（直接存取本機網路），可啟用此行
# host_network: true

ports: {}
map:
  - type: addon_config
    read_only: false

panel_icon: mdi:battery
