name: "JiKong Rs485 PB2A16S30P BMS"
version: "1.0.1"
slug: "jikong_rs485_pb2a16s30p_bms"
description: "透過 Modbus gateway 讀取 BMS 資料並發佈到 MQTT，供 Home Assistant 使用。"
url: "https://github.com/loveflee/jikong-rs485-pb2a16s30p-bms-addon"
documentation: "https://github.com/loveflee/jikong-rs485-pb2a16s30p-bms-addon"
arch:
  - amd64
  - armv7
  - aarch64
startup: services
boot: auto

# Add-on options（會出現在 HA UI）
options:
  modbus_host: "modbus gateway ip"
  modbus_port: 502
  modbus_timeout: 10
  modbus_buffer_size: 4096

  mqtt_host: "homeassistant ip"
  mqtt_port: 1883
  mqtt_username: "mqtt user"
  mqtt_password: "mqtt password"
  mqtt_discovery_prefix: "homeassistant"
  mqtt_topic_prefix: "Jikong BMS"
  mqtt_client_id: "jk_bms_monitor"

  packet_expire_time: 0.4
  settings_publish_interval: 1800

schema:
  modbus_host: str
  modbus_port: int
  modbus_timeout: int
  modbus_buffer_size: int

  mqtt_host: str
  mqtt_port: int
  mqtt_username: str
  mqtt_password: str
  mqtt_discovery_prefix: str
  mqtt_topic_prefix: str
  mqtt_client_id: str

  packet_expire_time: float
  settings_publish_interval: int

# 若需要讓容器使用 host network（直接存取本機網路），可啟用此行
# host_network: true

ports: {}
map:
  - type: addon_config
    read_only: false

panel_icon: mdi:battery
